.wrapper {
    display: flex;
}
.wrapper button {
    background-color: transparent;
}
.filterButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.task {
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.activeFilter {
    border: 2px solid white;
}